{% extends 'main.html' %}

{% block content %}

<style>

.btn{
font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #585959;
padding: 10px 30px;
border: none;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 9px;
transition : 463ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;

}

.btn:hover{
transition : 463ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #999999;
color: #ffffff;
border: none;
}

.btn-child {
    text-decoration: none;
    color:white;
}

</style>

<div style="width:100%; height:100%; display:flex; flex-direction:column; align-items:center; justify-content: center; gap:30px;">
    <h1 style="color:#aaaaaa; font-family:Courier Prime, sans-serif;">Announcements</h1>
    <button class="btn"><a class="btn-child" href="/GDD">GDD</a></button>
    <button class="btn"><a class="btn-child" href="/GAD">GAD</a></button>    
    <button class="btn"><a class="btn-child" href="/GSD">GSD</a></button></div>
{% endblock content %}